<p id="notice"><%= notice %></p>

<p>
  <b>Acct type:</b>
  <%= @user.acct_type %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Title:</b>
  <%= @user.title %>
</p>

<p>
  <b>School:</b>
  <%= @user.school_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
